* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html, body {
    width: 100%;
    height: 100%;
    font-family: "Arial", sans-serif;
}
ul, li {
    list-style: none;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
}
.calc-body {
    border-radius: 6px;
    -webkit-border-radius: 6px;
    border: 1px solid #000;
    width: 350px;
    display: block;
    padding: 10px;
    background-color: #f3f3f3;
}
.calc-display {
    background-color: #fff;
    padding: 6px 14px;
    border-radius: 6px;
}
.calc-keyboard {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding-top: 15px;
}
.calc-number-listing {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 80%;
}
.calc-number-item, .calc-charctor-item {
    font-size: 22px;
    background-color: #fff;
    margin-left: 2px;
    margin-right: 2px;
    margin-bottom: 5px;
    line-height: 65px;
    cursor: pointer;
    width: 78px;
    height: 65px;
    text-align: center;
}
.calc-special-charctor {
    flex-basis: 20%;
}

.eqaul-to {    width: 100%;
    display: flex;}
 

.eqaul-to button {
    display: block;
    width: 100%;
    border: none;
    background-color: #000;
    color: #fff;
    padding: 10px 0;
    font-size: 34px;
}

